<!-- Styles loaded for uploading picture -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" />
<!-- Styles end -->

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<div class="container" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-default" type="submit" ng-click="loadModal()">Add user</button>
      <button class="btn btn-default" type="submit">Upload user list</button>
    </div>
    <div class="col-md-3">
      <div class="col-md-4">
        <strong>Sort By :</strong>
      </div>  
      <div class="col-md-6">
        <select class="form-control">
          <option>User</option>
          <option>Organization</option>
          <option>Created on</option>
          <option>Updated on</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-3">
        <strong>Filter : </strong>
      </div>  
      <div class="col-md-9">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <select class="form-control">
        <option>User</option>
      </select>
    </div>

  </div>

  <div class="lineGap"></div>
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

  <div class="row" id="exSelects">
    <div>
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <label>Image uploader</label>
        <div class="fileinput-new thumbnail">
          <img data-src="" src="../images/icon_add_image.png" style="max-width: 200px; max-height: 150px;" class="img-responsive">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new">Select image...</span>
            <span class="fileinput-exists">Change</span>
            <input type="file" name="...">
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
    </div><!--/col-->
    <!--end file and image upload-->      
  </div><!--/row-->    
</div><!--/container-->

<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add user</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4">
              <div class="row"><div class="thumbnail">
                <img style="width:100px; height:100px; " />
              </div></div>
              <div class="row">
                <div class="switch-toggle well">
                  <input id="user" name="view" type="radio" checked>
                  <label for="user" onclick="">User</label>
                  <input id="admin" name="view" type="radio">
                  <label for="admin" onclick="">Admin</label>
                  <a class="btn btn-primary"></a>
                </div>

                <input type="hidden" id="role" />
              </div>
              
            </div>
            <div class="col-xs-8">
              <div class="row">
                <div class="container-fluid"><input type="text" class="form-control" placeholder="User name"></div>
              </div>
              <div class="lineGap"></div>
              <div class="row">
                <div class="col-xs-6"><input type="text" class="form-control" placeholder="First name"></div>
                <div class="col-xs-6"><input type="text" class="form-control" placeholder="Last name"></div>                
              </div>
              <div class="lineGap"></div>
              <div class="row">
                <div class="col-xs-12">
                  <select class="form-control">
                    <option>Organization</option>
                    <option>Organization 1</option>
                    <option>Organization 2</option>
                    <option>Organization 3</option>
                  </select>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>