<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#" ng-click="logout()">Logout</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-default" type="submit">Add user</button>
    <button class="btn btn-default" type="submit">Upload user list</button>
  </div>
  <div class="col-md-3">
    <div class="col-md-4">
      <strong>Sort By :</strong>
    </div>  
    <div class="col-md-6">
      <select class="form-control">
        <option>User</option>
        <option>Organization</option>
        <option>Created on</option>
        <option>Updated on</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-3">
      <strong>Filter : </strong>
    </div>  
    <div class="col-md-9">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

</div>

<div class="lineGap"></div>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>